<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Código %><br>
    <%= f.text_field :codigo_dni %>
  </div>
  <div class="field">
    <%= f.label :Nombres %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :Apellidos %><br>
    <%= f.text_field :apellido, :cols =>60 %>
  </div>
  <div class="field">
    <%= f.label :Fecha_de_Nacimiento %><br>
    <%= f.date_select :fecha_naci, start_year:1940, last_year:2015 %>
  </div>
  <div class="field">
    <%= f.label :Dirección %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :Distrito %><br>
    <%= f.text_field :distrito %>
  </div>
  <div class="field">
    <%= f.label :Clave %><br>
    <%= f.text_field :clave %>
  </div>
  <div class="field">
    <%= f.label :Dirección_de_Delivery %><br>
    <%= f.text_field :delivery %>
  </div>
  <div class="field">
    <%= f.label :Teléfono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :email %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>