<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo (DNI):</strong>
  <%= @cliente.codigo_dni %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @cliente.apellido %>
</p>

<p>
  <strong>Fecha Nacimiento:</strong>
  <%= @cliente.fecha_naci %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @cliente.direccion %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @cliente.distrito %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @cliente.clave %>
</p>

<p>
  <strong>Dirección de Delivery:</strong>
  <%= @cliente.delivery %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Regresar', clientes_path %>
