<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Código %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :Nombre_de_Menú %><br>
    <%= f.text_field :nombre_menu %>
  </div>
  <div class="field">
    <%= f.label :Tipo_de_Menu %><br>
    <%= f.text_field :tipo_menu %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
